@use '../color';

.default {
    text-transform: uppercase;
    font-weight: bold;

    white-space: nowrap;

    border: none;
    outline: none;
}

.intentDefault {
    background-color: #{color.$accent2};
    color: #{color.$light1};
    cursor: pointer;
    transition: .15s ease;

    &:hover, &:focus-visible {
        background-color: #{color.$accent1};
    }
}

.intentDisabled {
    background-color: #{color.$gray};
    color: #{color.$light1};
}

.sizeSmall {
    font-size: 1em;
    line-height: 1em;
    padding: 0.5em 1em;
    border-radius: 0.2em;
}

.sizeNormal {
    font-size: 1em;
    line-height: 1.5em;
    padding: .5em 1em;
    border-radius: 0.3em;
}