@use '../../color';

.default {
    height: 5em;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    position: fixed;
    inset: 0 0 auto 0;
    z-index: 99;

    border-bottom: 1px solid transparent;
    transition: border-color .2s ease;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        z-index: -1;
        background: #{color.$dark1};

        opacity: 0;
        transition: opacity .2s ease;
    }

    &.collapsed {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border-color: #{color.$dark2};

        &::before { opacity: .2; }
    }
}

.item {
    outline: none;
    text-decoration: none;
}

.content {
    margin: .5em 5vw;
    width: 100%;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.content a {
    text-decoration: none;
}

.links {
    flex: 1;
}

.account {
    display: flex;
}