.default {
    font-size: 1em;
    height: 5em;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.content {
    margin: .5em 5vw;
    width: 100%;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.content a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    color: #fff;

    svg {
        height: 3em;
    }
    span {
        font-size: 2em;
        font-weight: 700;
    }
}

.links {
    flex: 1;
}

.account {
    display: flex;
}