.default {
    font-size: 1em;
    height: 5em;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.item {
    outline: none;
    text-decoration: none;
}

.content {
    margin: .5em 5vw;
    width: 100%;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.content a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    color: #fff;

    svg {
        height: 3em;

        transition-property: filter, transform;
        transition-duration: .3s;
        transition-timing-function: ease;
    }

    span {
        font-size: 2em;
        font-weight: 700;
    }

    *:hover > &, *:focus-visible > & {
        svg {
            filter: brightness(120%);
            transform: scale(1.05);

            animation: logo-animation .2s ease;
        }
    }
}

@keyframes logo-animation {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(-5deg) scale(1.025);
    }
    100% {
        transform: rotate(0deg) scale((1.05));
    }
}

.links {
    flex: 1;
}

.account {
    display: flex;
}