@use '@/app/color';

.authModal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;

    max-width: 350px;
    width: 90vw;
}

.authModal form {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    gap: 1rem;
}

.authModal .switch {
    color: #{color.$light3};
    transition: color .1s ease;

    text-align: center;

    cursor: pointer;

    &:hover {
        color: #{color.$light1};
        transition-duration: .2s;
    }
}