@use '../../color';

.section {
    position: relative;
    z-index: 12;

    &.wrapped {
        background-color: #{color.$dark2};
        padding: 1em;
        border-radius: 2em;
    }

    .heading {
        border-bottom: 0px;
        margin-bottom: 0px;
    }

    p { margin: 0; }
}

.heading {
    position: relative;
    z-index: 12;
    
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    height: 2em;
    color: #{color.$light2};
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}