@use '../../../color';

.container {
    width: 100%;
    margin: 10em auto;

    border-radius: 2em;

    display: flex;
    flex-direction: column;

    gap: 2em;

    .banner {
        padding: 2em;
        display: flex;
    }
}