@use '@/app/color';

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

.clickable {
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 125%;
    right: 0;

    background-color: #{color.$dark2};
    color: color.$light1;
    border-radius: .5rem;
    overflow: hidden;
    width: 90vw;
    max-width: 300px;

    transform: scaleY(1);
    opacity: 1;
    transform-origin: top center;

    display: flex;
    flex-direction: column;

    transition: transform .2s ease, opacity .2s ease;

    &[data-hidden='true'] {
        pointer-events: none;
        transform: scale(0);
        opacity: 0;
        transition-duration: .1s;
    }
}

.menuItem {
    cursor: pointer;
    background-color: transparent;
    transition: background-color .1s ease;

    &:hover {
        background-color: rgba(255,255,255,0.03);
        transition-duration: .2s;
    }
}