$dark1: #131313;
$dark2: #232323;
$dark3: #333;
$dark4: #444;

$light1: #fff;
$light2: #ccc;

$gray: #2c2e2c;

$accent1: #3dad2c;
$accent2: #2d7b21;

$offline: #777;
$online: #{$accent1};
$ingame: #0088ff;

$price: #6cd15c;