@use 'color';

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  background-color: #{color.$dark1};
  color: #{color.$light1};

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
}

main {
  padding: 1rem;
}

.main-wrapper {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

.text-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  color: #{color.$light1};

  svg {
      width: 3em;
      height: 3em;

      transition-property: filter, transform;
      transition-duration: .3s;
      transition-timing-function: ease;
  }

  span {
      font-size: 2em;
      font-weight: 700;
  }

  *:hover > &[data-animate=true], *:focus-visible > &[data-animate=true] {
      svg {
          filter: brightness(120%);
          transform: scale(1.05);

          animation: logo-animation .2s ease;
      }
  }
}

@keyframes logo-animation {
  0% {
      transform: rotate(0deg) scale(1);
  }
  50% {
      transform: rotate(-5deg) scale(1.025);
  }
  100% {
      transform: rotate(0deg) scale((1.05));
  }
}