.bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 3em;

    @media screen and (orientation: portrait) {
        flex-direction: column;
        gap: 0;

        > * {
            flex-basis: 0;
        }
    }
}

.onethird {
    flex-basis: 33.3%;
}

.twothird {
    flex-basis: 66.6%;
}