@use '@/app/color';

.buttonLink {
    color: inherit;
    text-decoration: none;
}

.button, .textInput {
    font-size: 1em;
    border-radius: .3em;
    padding: .5em .7em;
    border: none;
}

.button {
    display: block;

    cursor: pointer;

    font-weight: bold;
    text-transform: uppercase;

    color: #{color.$light1};
    background-color: #{color.$accent2};
    transition: background-color .2s ease;

    &:hover, &:focus-visible {
        background-color: #{color.$accent1};
    }
}

.textInput {
    background-color: #{color.$dark3};

    &:-webkit-autofill {
        -webkit-box-shadow: none;
    }
    
}