@use "@/app/color";

.default {
    height: 4rem;

    display: flex;
    justify-content: stretch;
    align-items: stretch;

    position: fixed;
    top: 0;

    z-index: 1001;
}

.content {
    margin: .5em 5vw;
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}

.items {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 3em;
}

.navItem {
    display: flex;
    width: auto;
    text-decoration: none;
    color: #fff;
}

.account {
    position: relative;
    display: flex;

    .clickToExpand {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;

        .overlay {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            background-color: rgba(0,0,0,0.6);
            transition: opacity .2s ease, transform .1s ease;
            transform: rotate(0deg);
            user-select: none;
        }

        .overlay.turned {
            transform: rotate(180deg);
        }

        .overlay.turned, &:hover .overlay {
            opacity: 1;
        }
    }
}

.menuItem {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #{color.$light1};
    text-decoration: none;
}

.sep {
    border-bottom: 1px solid #{color.$dark3};
}