@use "@/app/color";

.mainMenu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    margin: 1.5rem;

    font-size: 16px;

    background-color: rgba(50, 50, 50, 0.429);
    backdrop-filter: blur(2.5px) invert(5%);
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    z-index: 1001;

    > .sep {
        margin: 0 .5em;
        border-color: #{color.$dark5};
    }
}

.logo {
    margin: 1rem;
    font-size: 14px;
    outline: none;
}

.tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 1em;
    margin: 1em 0;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    width: 100%;
    height: 3em;

    outline: none;

    position: relative;

    color: #{color.$light2};
    transition: color .2s ease;

    &::after {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;

        transform: scaleY(0);
        transform-origin: right;
        background-color: #{color.$light1};

        transition: .2s ease;
    }

    &:hover::after, &:focus-visible::after, &.active::after {
        transform: scaleY(.5);
    }

    &.active {
        color: #{color.$light1};
        &::after {
            background-color: #{color.$accent1};
        }
    }

    svg {
        width: 2em;
        height: 2em;
    }
}

.account {
    position: relative;
    display: flex;
    margin: 1em;

    .clickToExpand {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        outline: none;

        .overlay {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            background-color: rgba(0,0,0,0.6);
            transition: opacity .2s ease, transform .1s ease;
            transform: rotate(0deg);
            user-select: none;
        }

        .overlay.turned {
            transform: rotate(180deg);
        }

        .overlay.turned, &:hover .overlay, &:focus-visible .overlay {
            opacity: 1;
        }
    }
}

.menu {
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    top: auto;
    left: 5em;
    bottom: 0;
    right: auto;
    transform: scaleX(1);
    transform-origin: left;

    &[data-hidden='true'] {
        transform: scaleX(0);
    }
}

.menuItem {
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    color: #{color.$light1};
    text-decoration: none;
    font-size: 1rem;
    outline: none;

    .icon {
        display: flex;
        align-items: center;
        color: #{color.$light2};
    }
}

.sep {
    border-bottom: 1px solid #{color.$dark3};
}

.login {
    border-radius: 50% !important;
    width: 3em;
    height: 3em;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 0 !important;
}