@use '../../color';

.modal {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px !important;
    transition: none !important;
    z-index: 2000 !important;
    padding: 0px !important;
    background-color: color.$dark1 !important;
}