@use '../../color';

.modal {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px !important;
    transition: none !important;
    z-index: 2000 !important;
    padding: 0px !important;
    background-color: color.$dark1 !important;
}

.introductionPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closeButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: color.$light1;
    color: color.$dark1;
    font-size: 1.1rem;
    cursor: pointer;
}

.migrateDatabasePanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & button {
        margin-top: 20px;
        text-transform: none;
    }
}

.environmentPanel {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    gap: 50px;

    & > div {
        width: 100%;
    }

    & table {
        background-color: color.$dark2;
        margin-top: 50px;
        width: 100%;
        table-layout: fixed;

        & th,
        & td {
            padding: 10px 30px 10px 30px;
            font-size: 1.1rem;
            word-wrap: break-word;
        }

        & th {
            font-size: 1.4rem;
        }

        & tbody tr:nth-child(odd) {
            background-color: color.$dark1;
        }

        & thead th {
            text-align: left;
        }
    }
}