@use '@/app/color';

.container {
    display: flex;
    flex-direction: row;
    margin: 5rem auto 0;
    align-items: center;
}

.backdrop {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url("/images/fx/background.svg");
    background-size: 12px;
}

.profile {
    position: relative;
    z-index: 5;

    display: grid;
    grid-template-areas: "main side";
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;

    background-color: #{color.$dark2};
    padding: 1rem;
    border-radius: 1rem;
}

.banner {
    grid-area: main;

    .content {
        position: relative;
        z-index: 2;
    }
}

.ingame {
    grid-area: "ingame";
    background-color: #{color.$dark2};
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;

    .statusText { font-size: .75em; text-transform: uppercase; color: #{color.$light2}; }
    .gameName { font-size: 1.5em; }
}