@use '@/app/color';

.default {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    color: inherit;
    text-decoration: none;
}

.avatar {
    .small & { width: 3em; }
    .normal & { width: 4em; }
    .large & { width: 5em; }

    aspect-ratio: 1;
    
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    img {
        border-radius: 50%;
        object-fit: cover;
    }
    .defaultAvatar {
        color: #{color.$light3};
    }
}

.text {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 1.5em;
}

.status {
    text-transform: capitalize;
    
    &.offline { color: #{color.$offline}; }
    &.online { color: #{color.$online}; }
    &.ingame { color: #{color.$ingame}; }
}