.default {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.avatar {
    width: 2.5em;
    height: 2.5em;
    
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 50%;

    img {
        border-radius: 50%;
        object-fit: cover;
    }
}

.username {
    font-size: 1em;
}