@use '@/app/color';

.unlock {
    font-size: 1.5em;
    padding: 1.5rem;
    background-image: url('/images/fx/banner-gradient.svg'), var(--background);
    background-size: cover;
    background-position: top center;

    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

    position: relative;

    border-radius: 1rem;
    margin-bottom: 2rem;
}

.text {
    flex-grow: 1;
}

.action {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1em;
    font-size: 1.2rem;
    padding-left: 1em;
    border-radius: .5rem;
    background-color: #{color.$dark3};

    height: 2.5em;

    position: absolute;
    right: 1.5rem;
    bottom: -1.25em;

    .pricing {
        align-self: center;
    }
}

.pricing { color: #{color.$price}; }