@use '@/app/color';

.library {
    border-radius: 1rem;
    padding: 1rem;
    background-color: #{color.$dark2};

    h1 {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        height: 2em;
        margin-top: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1em;
    }
}

.game {
    display: flex;
    gap: 3em;
    align-items: center;

    .thumbnail {
        width: 12rem;
        aspect-ratio: 16 / 9;
        border-radius: .5rem;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    .title {
        font-size: 2em;
    }
}

.nogames {
    padding: 1rem;
    text-align: center;

    a { color: #{color.$accent1}; }
}