@use '@/app/color';

.dialogBox {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.8);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .2s ease 0s, visibility 0s linear .2s;

    &.open {
        transition: opacity .2s ease 0s, visibility 0s linear 0s;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal {
    background-color: #{color.$dark2};
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    
    transform: translateY(10px);
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;

    .dialogBox.open & {
        transform: translateY(0);
        opacity: 1;
    }
}

.top {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
    gap: 1em;
}

.title {
    flex-grow: 1;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.close {
    background-color: transparent;
    border: none;

    color: #{color.$light3};
    transition: color .1s ease;

    text-align: center;

    cursor: pointer;

    &:hover {
        color: #{color.$light1};
        transition-duration: .2s;
    }
}